loginPage{
    
}

.login-panel{
    margin-top: 40%;
}
.login-item{
    font: 20px;
    width: 260px;
    margin-top: 10px;
}
.login-item input{
    height:28px;
    width:200px;
    line-height: 28px;
    border: 0px;
    border-bottom: 1px solid #eee;
}
.label{
    width:60px;
    float: left;
    font-weight: bold;
    line-height: 28px;
}