<ion-header>
  <ion-navbar>
    <ion-title>主页</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="createMessage()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides autoplay="5000" loop style="height:160px;" *ngIf="adProducts.length>0">
    <ion-slide *ngFor="let adp of adProducts" (click)="showDetail(adp)" >
      <img src="{{adp.picUrl}}" style="height:160px;width:100%;" />
    </ion-slide>
  </ion-slides>
  <ion-list>
    <ion-list-header style="height:30px;">商品列表</ion-list-header>
    <ion-item *ngFor="let pro of products" (click)="showDetail(pro)" >
      <ion-thumbnail item-left>
        <img src="{{pro.picUrl}}">
      </ion-thumbnail>
      <h2>{{pro.name}}</h2>
      <p>{{pro.description}}</p>
    </ion-item>
  </ion-list>
</ion-content>
